# Visual Studio Code/Editor specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Visual Studio specific
*.vs
*.sln.docstates
*.suo
*.user
*.log
*.[Rr]elease/
*.[Dd]ebug/
[Bb]in/
[Oo]bj/
[Aa]rm/
[Aa]rm64/
[Xx]86/
[Xx]64/
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.vxproj.filters
*.vcxproj.user
*.aps
*.ncb
*.opensdf
*.sdf
*.cache
*.VC.db
*.VC.VC.opendb

# Build results
[Bb]uild/
[Rr]elease*/
[Dd]ebug*/
[Ww]in*/

# Nuget Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config

# Windows App SDK/MSIX specific
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxsym
*.msix
*.msixbundle
*.msixsym
*.pri
*.pfx
Unpackaged/

# JetBrains Rider specific
*.sln.iml
*.idea/

# Other
*.DS_Store
Thumbs.db